.usePosTable {
  float: left;
  width: 1125px;
  min-height: 450px;
  display: table-cell;
  height: auto;
  background-color: none !important;
  border: dotted 2px rgb(163, 161, 161);
}

.tableGrid {
  width: 300px;
  height: 300px;
  border-left: dashed 2px rgb(163, 161, 161);
  /* border-left: 30px solid rgb(255, 255, 255); */
}
.tableGridPre {
  width: 300px;
  height: 300px;
  background-color: white !important;
  border: none !important;
  /* border-left: 30px solid rgb(255, 255, 255); */
}
.tableRowPre {
  border: none;
}
.tableRow {
  border: dashed 2px rgb(163, 161, 161);
}
.previewButton {
  margin-top: -30px;
  margin-left: 93%;
}

.modalHeaderPreview {
  height: 50px;
}
.unDo {
  margin-left: 10px;
  margin-top: 10px;
}
.reDo {
  margin-left: 10px;
  margin-top: 10px;
}

.modulDropdown {
  margin-left: 18px;
}
.modulBodyPreview {
  margin-left: -17px;
  height: 500px;
  overflow: auto;
}
.sectionPos {
  float: left;
  width: 1125px;
  margin: 2px;
}
.sectionPre {
  background-color: rgb(255, 255, 255) !important;
}
.usePosLabel {
  width: 100%;
  display: table-cell;
  height: 500px;
}
.modalPre {
  height: 100%;
  overflow-y: hidden !important;
}
.draggbleElements {
  margin-top: 28px;
  float: left;
  width: 200px;
  margin-left: 8px;
}
.fontStyle {
  font-family: "Lucida Grande";
}
.tableGridCloseButton {
  float: right;
}
