.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.use {
  float: left;
  display: block;
  width: 600px;

  margin: 2px;
  border: 2px solid black;
}

.useLabel {
  float: left;
  display: block;
  width: 100%;

  margin: 2px;
  border: 2px solid black;
}
.usePosTable {
  float: left;
  width: 800px;
  min-height: 800px;
  display: table-cell;
  height: auto;
}
.tableGrid {
  width: 300px;
  height: 300px;
  border-right: 30px solid rgb(255, 255, 255);
  border-left: 30px solid rgb(255, 255, 255);
}
/* table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
} */

.modulDropdown {
  margin-left: 18px;
}
.usePos {
  float: left;
  width: 800px;
  margin: 2px;
}
.usePosLabel {
  width: 100%;
  display: table-cell;
  height: 500px;
}
.notUse {
  margin-top: 30px;
  float: left;
  width: 200px;
}
.fontStyle {
  font-family: "Lucida Grande";
}
.close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 55px;
  height: 55px;
  cursor: pointer;
  border: 4px solid #e62f57;
  border-radius: 50%;
}

.close:before,
.close:after {
  content: "";
  position: absolute;
  top: 21px;
  left: 10px;
  width: 26px;
  height: 4px;
  background: #e62f57;
}

.close:before {
  webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close:after {
  webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
