.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.section {
  float: left;
  display: block;
  width: 600px;

  margin: 2px;
  border: 2px solid black;
}

.useLabel {
  float: left;
  display: block;
  width: 100%;

  margin: 2px;
  border: 2px solid black;
}
.usePosTable {
  float: left;
  width: 1125px;
  min-height: 450px;
  display: table-cell;
  height: auto;
}

.tableGrid {
  width: 300px;
  height: 300px;
  border-right: 30px solid rgb(255, 255, 255);
  border-left: 30px solid rgb(255, 255, 255);
}
.previewButton {
  margin-top: -30px;
  margin-left: 93%;
}

.modalHeaderPreview {
  height: 20px;
}
.unDo {
  margin-left: 10px;
  margin-top: 10px;
}
.reDo {
  margin-left: 10px;
  margin-top: 10px;
}

.modulDropdown {
  margin-left: 18px;
}
.modulBodyPreview {
  margin-left: -17px;
  height: 500px;
  overflow: auto;
}
.sectionPos {
  float: left;
  width: 1125px;
  margin: 2px;
}
.usePosLabel {
  width: 100%;
  display: table-cell;
  height: 500px;
}
.draggbleElements {
  margin-top: 28px;
  float: left;
  width: 200px;
}
.fontStyle {
  font-family: "Lucida Grande";
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
