.usePosTable {
  float: left;
  width: 1125px;
  min-height: 569px;
  display: table-cell;
  height: auto;
  background-color: none !important;
  border: dotted 2px rgb(163, 161, 161);
}

.tableGrid {
  width: 300px;
  height: 300px;
  border-left: dashed 2px rgb(163, 161, 161);
  /* border-left: 30px solid rgb(255, 255, 255); */
}
.tableGridPre {
  width: 300px;
  height: 100%;
  background-color: white !important;
  border: none !important;
  /* border-left: 30px solid rgb(255, 255, 255); */
}
.tableRowPre {
  border: none;
}
.tableRow {
  border: dashed 2px rgb(163, 161, 161);
}
.previewButton {
  margin-top: 0px;
  margin-left: 80%;
  margin-right: 10px;
}

.modalHeaderPreview {
  height: 50px;
  background-color: rgb(226, 226, 226);
}
.modalFooterPreview {
  background-color: rgb(226, 226, 226) !important;
  padding: 2px !important;
}
.header {
  text-align: center;
}
.icons {
  margin-left: -10px;
}
.iconsText {
  margin-left: 10px;
}
.unDo {
  margin-left: 10px;
  margin-top: 0px;
}
.reDo {
  margin-left: 10px;
  margin-top: 0px;
}

.modulDropdown {
  margin-left: 18px;
}
.modulBodyPreview {
  margin-left: -10px;
  height: 500px;

  overflow-y: auto;
  overflow-x: hidden;
}
.sectionPos {
  float: left;
  width: 1125px;
  margin: 2px;
}
.sectionPre {
  background-color: rgb(255, 255, 255) !important;
}
.usePosLabel {
  width: 100%;
  display: table-cell;
  height: 500px;
}
.modalPre {
  height: 100%;
  overflow-y: hidden !important;
}
.draggbleElements {
  margin-top: 28px;
  float: left;
  width: 200px;
  margin-left: 8px;
}
.fontStyle {
  font-family: "Lucida Grande";
}
button.tableGridCloseButton {
  float: right;
  width: 5px !important;
  height: 5px !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  margin-right: 2px !important;
}
